.divider {
  background-color: var(--gunmetal);
  height: 7rem;
}

.divider.start {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.divider.end {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  margin-bottom: -4rem;
}
